@page "/panel/article"
@layout AdminLayout
@*@attribute [Authorize(Policy = Policies.IsAdmin)]*@

<div class=" "> 
    <a class="btn btn-info text-light" href="/article/add" role="button">
        <i class="bi bi-journal-plus"></i>
        Add Post
    </a>
</div> 
