@page "/articles"
@using CleanBlog.Components.Pagination
@inject IPostService PostService
@inject HttpClient http
@inject NavigationManager navigation


@if (Posts == null)
{
    <Spinner />
}
else
{

    <div class="d-flex justify-content-end mt-2 mr-5">
        @*<RadioGroup @bind-Value="@tagId" Size="small" ButtonStyle="solid">

                <Radio RadioButton Value="0"><p @onclick="() => GetPostByTag(null, 0)">نمایش همه پست ها</p> </Radio>
                @foreach (var tag in Tags)
                    {
                    <Radio RadioButton Value="@tag.Id"><p @onclick="() => GetPostByTag(tag.Name, tag.Id)">@tag.Name</p> </Radio>
                    }
            </RadioGroup>*@
        <div>
            <p class="badge badge-light shadow-sm text-center ml-2">
                <strong class="h6">
                    @*<Icon Type="tags" Class="pl-1" Theme="outline" />تگ ها:*@
                </strong>
            </p>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
            <div class="card article-card">
                <div class="article-img"></div>
                <div class="article-body">
                    <h5 class="card-title text-wrap rtl">
                    </h5>
                    <a href="">
                        Title
                    </a>
                    <div class="card-text d-flex bd-highlight pt-4 mb-3">
                        <div class="mr-auto p-2 bd-highlight">
                        </div>
                        <div class="p-2 bd-highlight">
                            <a href="">
                                Tag
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        <div class="col mb-4">
            <div class="card article-card">
                <div class="article-img"></div>
                <div class="article-body">
                    <h5 class="card-title text-wrap rtl">
                    </h5>
                    <a href="">
                        Title
                    </a>
                    <div class="card-text d-flex bd-highlight pt-4 mb-3">
                        <div class="mr-auto p-2 bd-highlight">
                        </div>
                        <div class="p-2 bd-highlight">
                            <a href="">
                                Tag
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>        <div class="col mb-4">
            <div class="card article-card">
                <div class="article-img"></div>
                <div class="article-body">
                    <h5 class="card-title text-wrap rtl">
                    </h5>
                    <a href="">
                        Title
                    </a>
                    <div class="card-text d-flex bd-highlight pt-4 mb-3">
                        <div class="mr-auto p-2 bd-highlight">
                        </div>
                        <div class="p-2 bd-highlight">
                            <a href="">
                                Tag
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>        <div class="col mb-4">
            <div class="card article-card">
                <div class="article-img"></div>
                <div class="article-body">
                    <h5 class="card-title text-wrap rtl">
                    </h5>
                    <a href="">
                        Title
                    </a>
                    <div class="card-text d-flex bd-highlight pt-4 mb-3">
                        <div class="mr-auto p-2 bd-highlight">
                        </div>
                        <div class="p-2 bd-highlight">
                            <a href="">
                                Tag
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 justify-content-center">
        <PostPagination Url="articles" Paging="Paging" Spread="3" SelectedPage="SelectedPage" />
    </div>
}

<style>
    .article-card {
        position: relative;
        margin: 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0,0,0,.125);
        min-width: 0;
        word-wrap: break-word;
        transition-duration: 0.4s;
    }

        .article-card:hover {
            box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
            transition: all 450ms ease-in-out 0s;
        }

    .article-img {
        background-image: linear-gradient(135deg, #ff7d47, #e64a19 );
        height: 180px;
        border-radius: 15px;
    }

    .article-title {
        height: 25px;
    }

    .article-body {
        flex: 1 1 auto;
        padding: .7rem;
    }

    .profile-img {
        left: 0;
        position: absolute;
        text-align: center;
        top: 30px;
        width: 100%
    }
</style>