@inject HttpClient http
@inject NavigationManager navigation

<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex bg-info">
                <h5 class="modal-title text-white w-100">@ModalTitle</h5>
                <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
            </div>
            <div class="modal-body bg-light text-primary">
                @CommentBody
            </div>
        </div>
    </div>
</div>


@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {
    [Parameter] public RenderFragment CommentBody { get; set; }
    [Parameter] public string ModalTitle { get; set; }
    [Parameter] public EventCallback OnEditCallback { get; set; }
 

    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;  

    public void Open()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
}