@inherits LayoutComponentBase

<header>
    <NavBar />
</header>

<main class="main">
    <div class="content">
        @Body
    </div>
</main>

<style>
    .main {
        flex: 1;
    }

    .content {
        margin-top: 3.1rem;
    }
</style>