<div class="row shadow-lg py-4 m-3" style="background-color: #d7ccc8; border-radius: 10px;">
    <div class="col-lg-4 col-sm-4">
        <div class="text-white"><font size="6">Tutorials</font></div>
    </div>
    <div class="col-lg-4 ms-2 col-sm-4">
        <div class="tariffCards card-main">
            <a class="css" href="asp">
                <img src="images/logo/asp.png" />
                <span>Learn Asp</span>
            </a>
            <a class="csharp" href="csharp">
                <img src="images/logo/csharp.svg" />
                <span>Learn C#</span>
            </a>
            <a class="blazor" href="blazor">
                <img src="images/logo/blazor.png" />
                <span>Learn Blazor</span>
            </a>
            <a class="ef" href="ef">
                <img src="images/logo/ef.png" />
                <span>Learn EF</span>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-sm-4">
    </div>
</div>
