@inject IJSRuntime JS
@using CleanBlog.Client.Shared.Login

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark p-0">
    <a class="navbar-brand" href="#">Clean Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item nav-item-hover active">
                <a class="nav-link nav-title" href="">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link nav-item-hover nav-title" href="articles">Articles</a>
            </li>
            <li class="nav-item active dropdown nav-item-hover">
                <a class="nav-link dropdown-toggle nav-title" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tutorials
                </a>
                <ul class="dropdown-menu text-right dropdown-ul" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Video tutorial</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                        <a class="dropdown-item dropdown-toggle" href="#">Documents</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-right" href="asp">Asp</a></li>
                            <li><a class="dropdown-item text-right" href="ef">Ef</a></li>
                            <li><a class="dropdown-item text-right" href="csharp">#C</a></li>
                            <li><a class="dropdown-item text-right" href="blazor">Blazor</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item active">
                <a class="nav-link nav-item-hover nav-title" href="articles">Statistics</a>
            </li>
        </ul>

        @*<LoginDisplay />*@
    </div>
</nav>

<style>
    nav {
        border-radius: 10px;
        background: linear-gradient(87deg,#212529,#212229) !important;
    }

    .nav-item-hover:hover {
        background-color: #616161;
        border-bottom-color: #ff6f00;
        border-radius: 30px;
    }

    .nav-title {
        font-family: yekan;
        font-size: 1.1em;
        padding: 4px;
    }

    .dropdown-menu {
        background-color: #eeeeee;
    }

        .dropdown-menu .dropdown-toggle:after {
            content: '';
            transform: rotate(90deg);
            margin-right: 5px;
        }

    .dropdown-item {
        color: #03a9f4;
    }

        .dropdown-item:hover {
            background-color: #e1f5fe;
            color: #03a9f4;
        }

    @@media (min-width: 753px) {
        .dropdown-menu {
            border: 2px solid #dee2e6;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .dropdown-ul {
            top: 90%;
            right: 0;
        }
            /*    .dropdown-ul:hover {
                display: block;
            }*/
            .dropdown-ul:before {
                background: #eeeeee;
                box-shadow: none;
                content: "";
                display: block;
                height: 16px;
                width: 16px;
                left: 120px;
                position: absolute;
                bottom: 100%;
                transform: rotate(-45deg) translateY(1rem);
                z-index: -5;
                border-radius: .25rem;
            }
    }
</style>

@code {
    protected override async Task OnInitializedAsync()
    {

        await JS.InvokeAsync<object>("Dropdown");
    }
}


